*{
    -webkit-appearance: none;
}
body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: white;
    width: 80%;
    height: 900px;
    margin: auto;
    padding: 10px;
    border-left: dashed #d4d4d4 1px;
    border-right: dashed #d4d4d4 1px;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    overflow: hidden;
}


.nav {
    float: right;
    margin: 5px;
}

.titulo{
    text-align: center;
    color: #8c4418;
}

.newdessert {
    margin-top: 0px;
    float: left;
}

.buttonSeparator {
    transform-origin: 0 100%;
    background-color: #000000;
    float: left;
    margin: 18px 0 0 5%;
    width: 80%;
    height: 2px;
}

.ingredientField {
    height: 45px;
    overflow: hidden;
}

.ingredientButton {
    float: left;
    width: 40px;
	height: 40px;
    background-color: white;
    border-color: #000000;
    border-style: dotted;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.ingredientButton:hover {
    float: left;
    width: 40px;
	height: 40px;
    background-color: #28bc66;
    border-color: #000000;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

}