*{
    -webkit-appearance: none;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #F5ECCE;
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    list-style: none;
    overflow: hidden;
}

select {
      -webkit-appearance: menulist;
}

i.fa {
    margin-right: 6px;
}

.centered {
    text-align: center;
}

.div-centered > .btn-danger {
    margin-left: 20%;
    margin-right: 5px;
}

.div-centered > .btn-primary {
    margin-left: 5px;
    margin-right: 35%;
}

.page-header {
    border-color: #716666;
}

.titulo{
    text-align: center;
    color: #8c4418;
}

.newdessert {
    margin-top: 0px;
    float: left;
}

.form-group {
    margin-top: 10px;
}

.showback {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 2px #aab2bd;
}
aside{
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;

    min-height: 60px;
    padding: 0 15px;
}

#container {
    width: 100%;
    height: 100%;
}

#main-content {
    margin-left: 210px;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #716666;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

.nav ul {
  list-style: none;
  background-color: #3ca8b0;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #888;
}
.nav a {
    text-decoration: none;
    color: #fff;
    display: inherit;
    transition: .3s background-color;
    height: 50px
}
.nav a:hover {
    background-color: #716666;
    border-bottom: 10px solid;
    border-bottom-color: rgba(53, 42, 42, 0.89);
}
.nav a.active {
  background-color: #ffffff;
  color: #65d6ac;
  cursor: default;
}

@media screen and (min-width: 600px) {
    .nav a {
        height: 60px;
        padding-top: 10px;
    }
    .nav li {
        width: 150px;
        border-bottom: none;
        height: 60px;
        line-height: 40px;
        font-size: 1.4em;
    }

    .nav li {
        float: left;
    }

    .nav ul {
        overflow: auto;
        width: 1024px;
        margin: 0 auto;
    }

    .nav {
        background-color: #3ca8b0;
    }
}

.btn{
 float: right;
}

.ng-invalid {
    border-color: red;
}

/*          DESSERT VIEW                */
.addToDessertBtn {
    margin-top: 24.5px;
}

/*          INGREDIENT VIEW             */
