<!DOCTYPE HTML>
<html ng-app='app'>
<head>
    <!--Image Tittle-->
    <link rel="shortcut icon" type="image/jpg" href="/img/image.jpg">
    <!--Bootstrao css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <!--Font-Awesome css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css" />
    <!--<script src="js/angular-1.3.0/angular.js"></script>-->
    <script  type="text/javascript" src="../js/appCliente.js" ></script>
    <meta charset="UTF-8">
    <title>DoceClara</title>
</head>
<body>
    <div id="container">
        <!--
        TOP Nav-bar
        -->
        <header>
            <div >
                <nav class="nav">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/client">Clientes</a></li>
                        <li><a href="/dessert">Sobremesas</a></li>
                        <li><a href="/ingredient">Ingredientes</a></li>
                        <li><a href="/request">Pedidos</a></li>
                        <li><a href="">Resumo</a></li>
                    </ul>
                 </nav>
            </div>
        </header>
        <!--
        TODO Nav bar
        -->
        <aside>
            <div id="sidebar" class="nav-collapse" style="overflow: hidden; outline: none;">
                <ul class="sidebar-menu">
                    <li><img src="img/Imagem1.png" class="logo" width="160"></li>
                </ul>
                <div class="logo">

                </div>
            </div>
        </aside>
        <div id="main-content" ng-controller="AddRequestController as addRqstCtrl">
            <div class="wrapper">
                <div class="page-header">
                    <h3>Novo Pedido</h3>
                </div>
                <div  class="col-md-8 showback">
                    <table class="table table-hover">
                        <caption class="centered">Pedidos</caption>
                        <tr>
                            <th class="centered">Nome</th>
                            <th class="centered">Valor</th>
                            <th class="centered">Quantidade</th>
                            <th class="centered">Ações</th>
                        </tr>
                        <tr ng-hide="addRqstCtrl.request.length === 0" ng-repeat="ing in addRqstCtrl.requestList">
                            <td class="centered">{{ing.name}}</td>
                            <td class="centered">{{ing.total_cost | currency:"R$"}}</td>
                            <td class="centered">{{ing.total_amount | number:"2"}}</td>
                            <td>
                                <div class="div-centered"><button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button></div>
                                <div class="div-centered"><button class="btn btn-danger btn-xs" title="Excluir"><span class="fa fa-trash-o"></span></button></div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" ng-show="addRqstCtrl.requestList.length === 0">Não existe Pedido Cadastrado.</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-8 showback">
                    <form name="requestForm" style="overflow: hidden;" novalidate>
                        <div class="col-md-8">
                            <label for="requestName" >Nome: </label>
                            <input type="text" id="requestName" class="form-control" ng-model="addRqstCtrl.request.name"/>

                        <div class="col-md-4 form-group">
                            <label for="requestTotalAmount">Quantidade: </label>
                            <div class="input-group">
                                <input type="number" id="requestTotalAmount" min="0" step="0.1" class="form-control" ng-model="addRqstCtrl.request.total_amount"/>

                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="requestCost">Valor: </label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" id="requestCost" step="0.1" min="0" class="form-control" ng-model="addRqstCtrl.request.total_cost"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary " id="addRequest" ng-click="addRqstCtrl.addRequest"> Adicionar Pedido</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>