<!DOCTYPE HTML>
<html ng-app='app'>
<head>
    <!--Image Tittle-->
    <link rel="shortcut icon" type="image/jpg" href="/img/image.jpg">
    <!--Bootstrao css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <!--Font-Awesome css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css" />
    <!--<script src="js/angular-1.3.0/angular.js"></script>-->
    <script  type="text/javascript" src="../js/appClient.js" ></script>
    <meta charset="UTF-8">
    <title>DoceClara</title>
</head>
<body>
    <div id="container">
        <!--
        TOP Nav-bar
        -->
        <header>
            <div >
                <nav class="nav">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/cliente">Clientes</a></li>
                        <li><a href="/dessert">Sobremesas</a></li>
                        <li><a href="/ingredient">Ingredientes</a></li>
                        <li><a href="/request">Pedidos</a></li>
                        <li><a href="">Resumo</a></li>
                    </ul>
                 </nav>
            </div>
        </header>
        <!--
        TODO Nav bar
        -->
        <aside>
            <div id="sidebar" class="nav-collapse" style="overflow: hidden; outline: none;">
                <ul class="sidebar-menu">
                    <li><img src="img/Imagem1.png" class="logo" width="160"></li>
                </ul>
                <div class="logo">

                </div>
            </div>
        </aside>
        <div id="main-content" ng-controller="AddClientController as addCltCtrl">
            <div class="wrapper">
                <div class="page-header">
                    <h3>Clientes</h3>
                </div>
                <div  class="col-md-8 showback">
                    <table class="table table-hover">
                        <caption class="centered">Clientes Cadastrados</caption>
                        <tr>
                            <th class="centered">Nome</th>
                            <th class="centered">Telefone</th>
                            <th class="centered">Ações</th>
                        </tr>
                        <tr ng-hide="addCltCtrl.clientList.length === 0" ng-repeat="clt in addCltCtrl.clientList">
                            <td class="centered"></td>
                            <td class="centered"></td>
                            <td >
                                <div class="div-centered"><button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button></div>
                                 <div class="div-centered"><button class="btn btn-danger btn-xs" title="Excluir"><span class="fa fa-trash-o"></span></button></div>
                                <div style="width: 60px" class="div-centered"><button class="btn btn-primary btn-xs" title="Novo Pedido"><span class="fa fa-shopping-cart"></span></button></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" ng-show="addCltCtrl.clientList.length === 0">Não existe Cliente cadastrado.</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-8 showback">
                    <form name="clientForm" style="overflow: hidden;" novalidate>
                        <div class="col-md-8">
                            <label for="clientName" >Nome: </label>
                            <input type="text" id="clientName" class="form-control" ng-model="addCltCtrl.client.name"/>
                        </div>
                        <div class="col-md-8">
                            <label for="clientTelephone" >Telefone: </label>
                            <input type="text" id="clientTelephone" class="form-control" ng-model="addCltCtrl.client.telephone"/>
                        </div>


                        <div class="col-md-12">
                            <button class="btn btn-primary " id="addClient" ng-click="addCltCtrl.addClient()"> Adicionar cliente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>