<!DOCTYPE HTML>
<html ng-app='app'>
<head>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!--<script src="js/angular-1.3.0/angular.js"></script>-->
    <script  type="text/javascript" src="js/appCliente.js" ></script>
    <meta charset="UTF-8">
    <title>DoceClara</title>
</head>
<body ng-controller="AddClientController as addCtrl">

    <section>
        <h1> Adicionar Cliente</h1>
        <br/>
        <div>
            <form style="overflow: hidden;" novalidate>
                <div class="newClient">
                    <label for="clientName">Nome:</label>
                    <input  type="text" id="clientName" name="clientName" ng-model="addCtrl.client.name" />
                </div>
                 <br/>
                 <div class="newClient">
                    <label for="telephone">Telefone: </label>
                    <input type="text" id="telephone" name="telephone" ng-model="addCtrl.client.telephone"/>
                </div>
                <br/>
                 <div class="newClient">
                    <p for="request">Pedido:
                    <select>
                         <!--depois aqui tem o código que puxa da lista de sobremesas-->
                        <option>1.Sobremesa1</option>
                        <option>2.Sobremesa2</option>
                        <option>3.Sobremesa3</option>
                    </select></p>
                </div>
                <br/>
                <div class="newClient">
                    <label for="requestAmount">Quantidade do Pedido:</label>
                    <input type="number" id="requestAmount" name="requestAmount" min="0" ng-model="addCtrl.client.requestAmount"/>
                </div>
                <br/>
                <div class="newClient">
                    <p> Preço de venda:</p>
                    <p id="dessertCost" class="dessertCost"></p>
                </div>
                <br/>
                 <div>
                    <button id="backToList">Voltar</button>
                    <button id="addDessert" ng-click="addCtrl.addDessert()">Adicionar</button>
                </div>

            </form>
        </div>
    </section>
</body>
</html>