<!DOCTYPE HTML>
<html ng-app='app'>
<head>
    <!--Image Tittle-->
    <link rel="shortcut icon" type="image/jpg" href="/img/image.jpg">
    <!--Bootstrao css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <!--Font-Awesome css-->
    <link rel="stylesheet" href="../stylesheets/bootstrap-3.3.5-dist/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css" />
    <!--<script src="js/angular-1.3.0/angular.js"></script>-->
    <script  type="text/javascript" src="../js/app.js" ></script>
    <meta charset="UTF-8">
    <title>DoceClara</title>
</head>
<body ng-controller="AddDessertController as addDessCtrl">
    <div id="container">
        <!--
        TOP Nav-bar
        -->
        <header>
            <div >
                <nav class="nav">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/indexClient.html">Clientes</a></li>
                        <li><a href="/dessert">Sobremesas</a></li>
                        <li><a href="/ingredient">Ingredientes</a></li>
                        <li><a href="">Resumo</a></li>
                    </ul>
                 </nav>
            </div>
        </header>
        <!-- ENDING MENU-BAR-->
        <!--
        TODO Nav bar
        -->
        <aside>
            <div id="sidebar" class="nav-collapse" style="overflow: hidden; outline: none;"></div>
        </aside>
        <!-- ENDING SIDE BAR-->
        <div id="main-content">
            <section class="wrapper">
                <div  class="page-header">
                    <h1> Adicionar Sobremesa</h1>
                </div>
                <div class="col-md-8 showback">
                    <form name="dessertForm" style="overflow: hidden;" novalidate>
                        <div class="form-group col-md-6">
                            <label for="dessertName">Nome:</label>
                            <input  type="text" id="dessertName" name="dessertName" class="form-control" ng-model="addDessCtrl.dessert.name" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="cookerName">Cozinheiro: </label>
                            <input type="text" id="cookerName" name="cookerName" class="form-control" ng-model="addDessCtrl.dessert.cookerName"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="portionAmount">Número de Porções:</label>
                            <input type="number" id="portionAmount" name="portionAmount" min="0" class="form-control" ng-model="addDessCtrl.dessert.portionAmount"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label"> Preço de custo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <p id="portionCost" class="form-control">{{cost | number:2}}</p>
                                <div class="input-group-addon"></div>
                            </div>
                        </div>
                        <section ng-controller="AddToDessertController as addIngre">
                            <div class="col-md-6 form-group ">
                                <label for="ingredientsList"> Adicione um ingredientes: </label>
                                <select class="form-control" id="ingredientsList" ng-model="addIngre.myIngdnt.ingredient"
                                        ng-options="ingdnt.name for ingdnt in addIngre.ingredientList"
                                        ng-change="addIngre.selectIngredient()">
                                    <option value="">-- Escolha um Ingrediente --</option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group amountInput" ng-show="addIngre.addIngredientFlag">
                                <label for="ingredientAmount">Quantidade: </label>
                                <input type="number" id="ingredientAmount" name="ingredientAmount" min="0" step="0.1" class="form-control"
                                       ng-model="addIngre.myIngdnt.quantity"
                                       ng-required="true"/>
                            </div>
                            <div class="col-md-2 form-group" ng-show="addIngre.addIngredientFlag">
                                <button id="addIngredientBtn" class="btn btn-primary addToDessertBtn" ng-click="addDessCtrl.addIngredient(addIngre.myIngdnt); addIngre.clearIngredient()">
                                    <i class="fa fa-plus"></i><strong>Adicionar</strong>
                                </button>
                            </div>
                        </section>
                        <div>
                            <table class="table table-hover">
                                <caption>Ingredientes</caption>
                                <tr>
                                    <th>Nome</th>
                                    <th>Custo</th>
                                    <th>Quantidade</th>
                                    <th>Ações</th>
                                </tr>
                                <tr ng-hide="addDessCtrl.dessert.ingredientes.length === 0" ng-repeat="ing in addDessCtrl.dessert.ingredientList">
                                    <td>{{ing.ingredient.name}}</td>
                                    <td>{{(ing.ingredient.total_cost*ing.quantity)/ing.ingredient.total_amount | number:2}}</td>
                                    <td>{{ing.quantity | number:3}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button>
                                        <button class="btn btn-danger btn-xs" title="Excluir"><span class="fa fa-trash-o"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" ng-show="addDessCtrl.dessert.ingredientes.length === 0">Não existe Ingrediente cadastrado.</td>
                                </tr>
                            </table>
                            <div class="col-md-12">
                                <div>
                                    <a href="/"><button id="backToList" class="btn btn-primary" >Voltar </button></a>
                                </div>
                                <div>
                                  <button id="addDessert" class="btn btn-primary" ng-click="addDessCtrl.addDessert()"
                                  style="margin-right: 10px;">
                                      Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>