<!DOCTYPE HTML>
<html ng-app='app'>
<head>
    <!--Image Tittle-->
    <link rel="shortcut icon" type="image/jpg" href="img/image.jpg">
    <!--Bootstrao css-->
    <link rel="stylesheet" href="../../stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <!--Font-Awesome css-->
    <link rel="stylesheet" href="../../stylesheets/bootstrap-3.3.5-dist/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="../../stylesheets/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="../../stylesheets/main.css" />
    <!--<script src="js/angular-1.3.0/angular.js"></script>-->
    <script  type="text/javascript" src="../../js/app.js" ></script>
    <meta charset="UTF-8">
    <title>DoceClara</title>
</head>
<body ng-controller="DessertControler as dessertCtrl">
    <div id="container">
        <!--
        TOP Nav-bar
        -->
        <header>
            <div >
                <nav class="nav">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/client">Clientes</a></li>
                        <li><a href="/dessert">Sobremesas</a></li>
                        <li><a href="/ingredient">Ingredientes</a></li>
                        <li><a href="">Resumo</a></li>
                    </ul>
                 </nav>
            </div>
        </header>
        <!-- ENDING MENU-BAR-->
        <!--
        TODO Nav bar
        -->
        <aside>
            <div id="sidebar" class="nav-collapse" style="overflow: hidden; outline: none;">
                <ul class="sidebar-menu">
                    <li><img src="img/Imagem1.png" class="logo" width="160"></li>
                </ul>
                <div class="logo">

                </div>
            </div>
        </aside>
        <!-- ENDING SIDE BAR-->
        <div id="main-content">
            <section class="wrapper">
                <div class="page-header">
                    <h3>Sobremesas</h3>
                </div>
                <section  class="col-md-8 showback">
                    <button class="btn btn-primary" onclick="location.href='/addDessert'"><i class="fa fa-plus"></i><span>Adicionar</span></button>
                    <table class="table table-hover">
                        <caption class="centered">SOBREMESAS</caption>
                        <tr>
                            <th class="centered">Nome</th>
                            <th class="centered">Custo</th>
                            <th class="centered">Cozinheiro</th>
                            <th class="centered">Porções</th>
                            <th class="centered">Ações</th>
                        </tr>
                        <tr ng-hide="dessertCtrl.dessertList.length === 0" ng-repeat="ing in dessertCtrl.dessertList">
                            <td class="centered">{{ing.name}}</td>
                            <td class="centered">{{ing.total_cost | currency:"R$"}}</td>
                            <td class="centered">Cozinheiro</td>
                            <td>Porções</td>
                            <td>
                                <div class="div-centered"><button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button></div>
                                <div class="div-centered"><button class="btn btn-danger btn-xs" title="Excluir"><span class="fa fa-trash-o"></span></button></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="centered" ng-show="dessertCtrl.dessertList.length === 0">Não existe Sobremesas cadastradas.</td>
                        </tr>
                        <pagination ng-model="currentPage"
                        total-items="{{20}}"
                        max-size="{{5}}"
                        boundary-links="true">
                    </pagination>
                    </table>
                </section>
            </section>
        </div>
    </div>
</body>
</html>